html, body {
  height: 100%;
}

body {
  background: url("./assets/images/2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

body {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 29px;

}

.total {
  color: #fafafa;
  background: -webkit-linear-gradient(top left, #4d4d4d, #000);
  background: linear-gradient(to bottom right , #4d4d4d, #000);
  background-color: #4d4d4d;
  box-shadow: 5px 8px hsla(0, 0%, 0%, 0.26) 12px #0b2b08;
  padding: 10px;
  
}

.noborder {
  border: none;
}

#item-list {
  font-size: 16px;
}
